button.button-show-more {
  display: none;
  margin: 0.5rem auto 0;
  text-transform: none;
  background-color: #fff;
}

@media only screen and (max-width: 600px) {
  button.button-show-more {
    display: flex;
    width: 100%;
  }
}
