.tab,
.tab:hover {
  position: relative;
  padding: 0;
  background-color: #fff !important;
}

/* Material UI */
.app-bar {
  background-color: #fff !important;
  box-shadow: none;
  color: var(--defaultTextColor) !important;
  width: fit-content;
  box-shadow: none !important;
}

.tab-panel > div {
  padding: 20px 0 0 0;
}

.Mui-selected {
  font-weight: 600;
}

.headingtop {
  height: 89px;
  text-indent: -9999px;
  margin-top: 20px;
  padding: 0;
  background: transparent url("./title-bestseller-min.png") no-repeat center top;
}
.seemore:after {
  content: "";
  width: 5px;
  height: 5px;
  border-top: 1px solid var(--primary);
  border-right: 1px solid var(--primary);
  transform: rotate(45deg);
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 1px 5px;
}

.top-10 {
  margin-top: 10px !important;
}

/* carousel */
.rec-carousel {
  position: relative;
}

.rec-carousel-item {
  border-right: 0.5px solid #eee;
  border-top: 0.5px solid #eee;
  border-bottom: 0.5px solid #eee;
}

.rec-carousel > button {
  z-index: 1;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 0;
  padding: 0;
  width: 30px;
  height: 50px;
  min-width: 30px;
  box-shadow: 0 0 2px 0px #33333321;
}

.rec-carousel > button:focus:enabled {
  background-color: var(--primary);
}

.rec-carousel button:nth-of-type(2) {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.rec-slider-container {
  margin: 0 !important;
}
