.tab,
.tab:hover {
  position: relative;
  padding: 0;
  background-color: #fff !important;
}

/* Material UI */
.app-bar {
  background-color: #fff !important;
  box-shadow: none;
  color: var(--defaultTextColor) !important;
  width: fit-content;
  box-shadow: none !important;
}

.tab-panel > div {
  padding: 20px 0 0 0;
}

.Mui-selected {
  font-weight: 600;
}

.headingtop {
  height: 89px;
  text-indent: -9999px;
  margin-top: 20px;
  padding: 0;
  background: transparent url("./title-bestseller-min.png") no-repeat center top;
}
.seemore:after {
  content: "";
  width: 5px;
  height: 5px;
  border-top: 1px solid var(--primary);
  border-right: 1px solid var(--primary);
  transform: rotate(45deg);
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 1px 5px;
}

.top-10 {
  margin-top: 10px !important;
}
