.tab,
.tab:hover {
  position: relative;
  padding: 0;
  background-color: #fff !important;
}

/* Material UI */
.app-bar {
  background-color: #fff !important;
  box-shadow: none;
  color: var(--defaultTextColor) !important;
  width: fit-content;
  box-shadow: none !important;
}

.tab-panel > div {
  padding: 20px 0 0 0;
}

.Mui-selected {
  font-weight: 600;
}

.headingtop {
  height: 89px;
  text-indent: -9999px;
  margin-top: 20px;
  padding: 0;
  background: transparent url("./title-bestseller-min.png") no-repeat center top;
}

.background-img {
  max-width: 239px !important;
  width: 239px !important;
  margin-right: 10px !important;
}

.df {
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
  height: 100%;
}

.df1 {
  background-image: url("https://cdn.tgdd.vn/v2015/Content/desktop/images/V5/category/desk-donghothoitrangbanner.png");
}

.df2 {
  background-image: url("https://cdn.tgdd.vn/v2015/Content/desktop/images/V5/category/desk-donghothongminhbanner.png");
}

.seemore {
  color: var(--primary);
  position: absolute;
  top: 15px;
  right: 3px;
}

.seemore:after {
  content: "";
  width: 5px;
  height: 5px;
  border-top: 1px solid var(--primary);
  border-right: 1px solid var(--primary);
  transform: rotate(45deg);
  display: inline-block;
  vertical-align: middle;
  margin: 0 0 1px 5px;
}

.top-15 {
  margin-top: 15px !important;
}

/* carousel */
.rec-carousel {
  position: relative;
}

.rec-carousel-item {
  border-right: 0.5px solid #eee;
  border-top: 0.5px solid #eee;
  border-bottom: 0.5px solid #eee;
}

.rec-carousel > button {
  z-index: 1;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 0;
  padding: 0;
  width: 30px;
  height: 50px;
  min-width: 30px;
  box-shadow: 0 0 2px 0px #33333321;
}

.rec-carousel > button:focus:enabled {
  background-color: var(--primary);
}

.rec-carousel button:nth-of-type(2) {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.rec-slider-container {
  margin: 0 !important;
}

@media only screen and (max-width: 600px) {
  .seemore {
    display: none;
  }
  .rp1 {
    flex-direction: column;
  }
  .df {
    height: 200px;
    width: 100%;
    max-width: none;
    background-size: cover;
  }
  .background-img {
    max-width: 100% !important;
    width: 100% !important;
    margin: 0 !important;
  }
  .df1 {
    background-image: url("https://cdn.tgdd.vn/v2015/Content/mobile/images/V5/category/mb-bannerdonghothoitrang.png");
  }
  .df2 {
    background-image: url("https://cdn.tgdd.vn/v2015/Content/mobile/images/V5/category/mb-donghothongminhbanner.png");
  }
}
