.rating {
  display: flex;
  margin: 5px 10px 0;
}

.text-review {
  margin-left: 5px;
}

@media only screen and (max-width: 600px) {
  .rating-start {
    font-size: 0.8rem !important;
  }
  .text-review {
    font-size: 12px !important;
  }
}
